.post {
    display: flex;
    flex-direction: column;
    width: 50vw;

    padding: 0.5rem;
    border-radius: 6px;
    background-color: white;
    margin: 0;
    transition:
            transform 0.25s ease-in-out,
            box-shadow 0.25s ease-in-out;

}

.post:hover {
    transform: scale(1.005);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.10);
}

.post-preview-content{
    display: flex;
    text-align: center;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    min-height: 10vh;
    padding: 5px 10px;
    width: 70%;
    border-radius: 6px;
    box-shadow: 0 0 2px 1px rgba(60, 60, 60, 0.1);
    color: #000000;
    margin: 10px auto 15px;
    cursor: pointer;
}
.post-title-container{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    margin-left: auto;
    margin-right: auto;

}

.post-title{
    justify-content: center;
    align-items: center;
    background-color: white;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    padding: 5px 15px;
    text-align: center;
    border-radius: 6px;
    word-wrap: break-word;
    word-break: break-word;
    width: 20vw;
}
.post-title h3{
    margin: 0;
    padding: 0;
    color: #000000;

}
.post-footer{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    max-width: fit-content;
    margin: 5px auto 20px;
    border-radius: 6px;
    cursor: pointer;
    min-height: fit-content;

}

.footer-mer-från{
    font-size: 16px;
    color: #00366f;
    font-weight: bold;
    margin-left: 5px;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    transition: color 0.3s ease;
    padding: 5px 10px;

}
.footer-mer-från:hover{
    color: #00366f;
    text-decoration: underline;
    cursor: pointer;
}


.post-footer div {
    display: inline-block;
    margin-right: 5px;
}
.post-footer-username{
    font-size: 16px;
    color: #00366f;
    font-weight: bold;
}

.post-preview-text{
    display: inline-flex;
    font-size: 16px;
    margin: auto;
    padding: 5px 10px;
    text-align: center;
}

.user-image {
    width: 50px;
    height: 50px;
}

.user-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.post-date{
    font-size: 14px;
    color: #00366f;
    font-weight: bold;
    margin-left: 5px;
}

.container-för-att-kolla-på-posten-grejen-eller-någonting{
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    margin-top: 10px;
}

.container-för-att-kolla-på-posten-grejen-eller-någonting .content{

}

.tabort{
    background-color: #ec0000 !important;
    color: white !important;
}