.post {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 0.5rem;
    border-radius: 6px;
    background-color: rgb(228, 228, 228);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.05);
    margin: 0;
    cursor: pointer;
    transition:
            transform 0.25s ease-in-out,
            box-shadow 0.25s ease-in-out;

}

.post:hover {
    transform: scale(1.005);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.10);
}

.post-preview-content{
    display: flex;
    text-align: center;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.2);
    min-height: 10vh;
    padding: 5px 10px;
    width: 70%;
    border-radius: 6px;
    box-shadow: 0 0 2px 1px rgba(60, 60, 60, 0.1);
    color: #000000;
    margin: 10px auto 15px;
}

.post-title{
    display: inline-flex;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    padding: 5px 15px;
    text-align: center;
    border-radius: 6px;
}
.post-title h3{
    margin: 0;
    padding: 0;
    color: #000000;
}
.post-footer{
    margin-top: 5px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px 10px;
}
.post-footer div {
    display: inline-block;
    margin-right: 5px;    /* adjust “1rem” to taste */
}
.post-footer-username{
    font-size: 16px;
    color: #00366f;
    font-weight: bold;
}

.post-preview-text{
    display: inline-flex;
    font-size: 16px;
    margin: auto;
    padding: 5px 10px;
    text-align: center;
}

.user-image {
    max-width: 3vh;
    max-height: 3vh;
}

.user-image img {
    display: block;       /* remove inline img whitespace quirks */
    width: 100%;          /* fill wrapper width */
    height: 100%;         /* fill wrapper height */
    object-fit: contain;  /* scale down/up to fit, preserving aspect */
}

.post-date{
    font-size: 14px;
    color: #00366f;
    font-weight: bold;
    margin-left: 5px;
}