.container{

    display: grid;
    grid-template-columns: 3fr 8fr ;
    align-items: start;
    justify-content: center;
    margin: 0 0 10vh;
    min-height: 91vh;
    overflow: clip;

}
.thingy-orkar-inte-döpa-fler-containrar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}




.view-post-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 70vh;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 10px 1px rgba(60, 60, 60, 0.1);

}

.title-post{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;


}
.title-post h1{
    color: #00366f;
    font-size: 20px;
    margin: 0 5px;
    margin-top: 10px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 10vh;
    color: black;
    box-shadow: 0 0 10px 1px rgba(60, 60, 60, 0.1);
    border-radius: 6px;
    padding: 5px 10px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 5vh;
}

